.songList {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 10%;
}

.songImage {
  height: 13vh;
  width: 9.5vw;
}
.songDescription {
  max-width: 10vw;
  justify-content: center;
  color: #d3d3d3;
  font-size: 10px;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'sans-serif';
}
