.root {
  position: relative;
  margin: 20px auto;
}
.input {
  display: flex;
  justify-content: center;
  border: 1px solid #d3d3d3;
  border-radius: 3px;
  margin-right: 10px;
  width: 20vw;
  height: 5vh;
  font-size: 20px;
  text-align: center;
}

.button {
  position: absolute;
  right: -90px;
  top: 0px;
  border: none;
  background-color: #455A64;
  border-radius: 10px;
  color: #fff;
  height: 5vh;
  width: 6vw;
}
