.songItem {
  display: flex;
  justify-content: center;
  height: 266px;
  width: 300px;
}

.album {
  display: flex;
  flex-direction: column;
}

.albumName, .songName {
  display: flex;
  color: #d3d3d3;
  font-size: 16px;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'sans-serif';
}

.songDescription {
  justify-content: center;
  display: flex;
  color: #d3d3d3;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}
